body {
  height: 100vh;
  margin: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-image: url('assets/newBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.playerLaser {
  background-image: url('assets/alienLaser.png');
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.playerShip {
  background-image: url('assets/final-player.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.alienShip {
  background-image: url('assets/invaderType3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}

.alienShip2 {
  background-image: url('assets/invaderType2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.alienShip3 {
  background-image: url('assets/star-wars.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.alienBomb {
  background-image: url('assets/torpedo-3.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

.rocksClass {
  background-image: url('assets/rock1.png');
  background-size: cover;
  background-position: center;

  border-radius: 25px;
}

.topDisplay {
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  padding: 15px;
  justify-content: center;
  border-radius: 15px;
  margin: 5px;
  word-spacing: 30px;
}

.game_class {
  height: 80vh;
  justify-content: center;
  align-items: center;
  width: 950px;

}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 15px;
}

.grid div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
  max-height: 5%;
  max-width: 5%;
}

.instructions {
  background-color: white;
  text-align: left;
  padding: 10px;
  border-radius: 15px;
  margin: 20px;
}

.button {
  height: 50px;
  width: 250px;
  text-align: center;
  border: red solid 2px;
  border-radius: 15px;
  margin: auto;
  background-color: white;
  font-weight: bold;
}

.button:hover {
  background-color: black;
  border: white solid 2px;
  color: white;
  cursor: pointer;
}

.logo {
  height: 250px;
  width: 250px;
  border-radius: 21px;
  margin: 50px;

}

/* 
.speed {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} */

.speed {

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: speedMove 1s infinite;
}

@keyframes speedMove {
  0% {
    background-image: url('assets/1.png');
  }

  11% {
    background-image: url('assets/2.png');
  }

  22% {
    background-image: url('assets/3.png');
  }

  33% {
    background-image: url('assets/4.png');
  }

  44% {
    background-image: url('assets/5.png');
  }

  55% {
    background-image: url('assets/6.png');
  }

  66% {
    background-image: url('assets/7.png');
  }

  78% {
    background-image: url('assets/8.png');
  }

  90% {
    background-image: url('assets/9.png');
  }

  100% {
    background-image: url('assets/10.png');
  }

}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  width: 50%;
  /* Could be more or less, depending on screen size */
  text-align: center;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.75);
  font-weight: bold;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#pname {
  padding: 7px;
  border-radius: 15px;
  border: 1px solid white;
  background-color: rgba(255, 255, 255, 0.85);
}

.submit {
  border-radius: 10px;
  border: 2px solid black;
  background-color: black;
  color: white;
  font-weight: 400;
  padding: 5px 15px 5px 15px;
}

.submit:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 2px solid black;
}

hr {
  background-color: white;
  border: 0.5px solid white;
  border-radius: 15px;
}

h1 {
  display: none;
}

h2 {
  display: none;
}

h3 {
  display: none;
}

.supernova {
  background-image: url('assets/supernova.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: rotation2 5s infinite linear;
}
.explosion {
  background-image: url('assets/stars.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: rotation 7s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}

.audioplay {
text-align: center;
display: block;
margin: auto;

}