body{
  height: 100vh;
  margin: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-image: url('assets/newBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.playerLaser{
  background-image: url('assets/alienLaser.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.playerShip{
  background-image: url('assets/final-player.png');
  background-size: contain;
  background-repeat: no-repeat ;
  background-position: center;

}

.alienShip {
  background-image: url('assets/invaderType3.png');
  background-size: contain;
  background-repeat: no-repeat ;
  background-position: center;

}

.alienShip2 {
  background-image: url('assets/invaderType2.png');
  background-size: contain;
  background-repeat: no-repeat ;
  background-position: center;
}
.alienShip3 {
  background-image: url('assets/star-wars.png');
  background-size: contain;
  background-repeat: no-repeat ;
  background-position: center;
}

.alienBomb {
  background-image: url('assets/nuclear-bomb.png');
  background-size: contain;
  background-repeat: no-repeat ;
  background-position: center;
  background-size: 30px;
}

.rocksClass {
  background-image: url('assets/rock1.png');
  background-size: cover;
  background-position: center;

  border-radius: 25px;
}

.topDisplay {
background-color: rgba(255, 255, 255, 0.85);
color: black;
padding: 5px;
justify-content: center;
border-radius: 15px;
margin: 5px;
}

.game_class {
  height: 80vh;
  justify-content: center;
  align-items: center;
  width: 950px;

}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.45);
  border-radius: 15px;
}
.grid div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
  max-height: 5%;
  max-width: 5%;
}
.instructions {
background-color: white;
text-align: left;
padding: 10px;
border-radius: 15px;
}

.button {
  height: 50px;
  width: 250px;
  text-align: center;
  border: red solid 2px;
  border-radius: 15px;
  margin: auto;
  background-color: white;
  font-weight: bold;
}

.button:hover {
  background-color: #008CBA;
  color: white;
}

.logo {
  height: 250px;
  width: 250px;
  border-radius: 21px;
  margin: 50px;

}

.speed {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}