body{
  height: 70vh;
  margin: 15px;
  max-width: 50%;
  box-sizing: border-box;
}


.playerLaser{
  background-image: url('/assets/playerLaser.png');
  background-size: cover;
  background-position: center;
}

.playerShip{
  background-image: url('/assets/playerShip.png');
  background-size: cover;
  background-position: center;
  
}

.alienShip {
  background-image: url('/assets/invaderType3.png');
  background-size: cover;
  background-position: center;
}
.alienShip2 {
  background-image: url('/assets/invaderType2.png');
  background-size: cover;
  background-position: center;
}
.alienShip3 {
  background-image: url('/assets/invaderType1.png');
  background-size: cover;
  background-position: center;
}

.alienBomb {
  background-image: url('/assets/alienLaser.png');
  background-size: cover;
  background-position: center;
}



.topDisplay {

background-color: black;
color: white;
text-align: center;
padding: 1px;
justify-content: center;
}

.game_class {
  height: 70vh;
  justify-content: center;
  align-items: center;

}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;

}

.grid div {

  flex-grow: 1;
  height: 5%;
  width: 5%;
  max-height: 5%;
  max-width: 5%;
}
